/* This file imports all of your partials to be compiled into one styelsheet,
which you can then attach to your html. */
/* This file contains all our variables */
/* This file contains all our Mixins */
/* This file is our main file for css/scss */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 8, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 17, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  font-weight: 300;
  background-color: #2f2933; }

/* line 29, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
h1 {
  text-align: center;
  padding-top: 1em;
  color: #ffffa6;
  font-size: 50px; }

/* line 36, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
.hover-img img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 5px; }

/* line 44, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
figure {
  position: relative;
  margin: 5% auto 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 10px solid #2f2933; }

/* line 54, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
figure img {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  transition: 0.3s ease all; }

/* line 68, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
figcaption {
  visibility: hidden;
  position: absolute;
  top: -250px;
  left: 0;
  margin: 0;
  padding: 20px;
  width: 70%;
  max-width: 90%;
  height: auto;
  overflow: hidden;
  background: #2f2933;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  transition: 0.3s ease all;
  opacity: 0.8; }

/* line 92, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
.cap-1 {
  font-family: Arial, sans-serif;
  color: #01a2a6; }
  /* line 94, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-1 h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white; }
  /* line 97, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-1 a {
    text-decoration: none;
    color: #29d9c2; }
    /* line 17, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/mixins */
    .cap-1 a:hover {
      text-decoration: underline;
      color: white; }

/* line 102, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
.cap-2 {
  font-family: Arial, sans-serif;
  color: #bdf271; }
  /* line 104, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-2 h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white; }
  /* line 107, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-2 a {
    text-decoration: none;
    color: #bdf271; }
    /* line 17, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/mixins */
    .cap-2 a:hover {
      text-decoration: underline;
      color: white; }

/* line 112, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
.cap-3 {
  font-family: Arial, sans-serif;
  color: #29d9c2; }
  /* line 114, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-3 h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white; }
  /* line 117, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
  .cap-3 a {
    text-decoration: none;
    color: #01a2a6; }
    /* line 17, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/mixins */
    .cap-3 a:hover {
      text-decoration: underline;
      color: white; }

/* line 122, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
figcaption a:active {
  text-decoration: none;
  color: #06f; }

/* line 127, /Users/vickeymenard/Documents/Graphic design/Year 3/semester 2/Web Dev/exercise-4/scss/components/main */
.imgbox:hover figcaption {
  visibility: visible;
  top: 100px; }
