/* This file is our main file for css/scss */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	margin: 0;
	padding: 30px;
	font-family:Arial, sans-serif;
	font-weight: 300;
	background-color: $background-light;
}

h1{
	text-align: center;
	padding-top: 1em;
	color: $background-dark;
	font-size: 50px;
}

.hover-img img{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	margin-right: 5px;
}

figure {
	position: relative;
  margin:5% auto 0 auto;
  padding:0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  border:10px solid $background-light;
}

figure img {
  margin:0 auto;
  padding:0;
  width:100%;
  height:100%;
  border:none;
  outline:none;
  -webkit-transition:0.3s ease all;
   -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
     -o-transition:0.3s ease all;
        transition:0.3s ease all;
}

figcaption {
  visibility:hidden;
  position:absolute;
  top:-250px;
  left:0;
  margin:0;
  padding:5px;
  width:60%;
  max-width:90%;
  height: 60%;
  overflow:hidden;
  background:rgba(0,0,0,0.6);
  border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  -webkit-transition:0.3s ease all;
   -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
     -o-transition:0.3s ease all;
        transition:0.3s ease all;
}

figcaption h2, p {
  font-family: Arial, sans-serif;
  color:#fff;
  text-shadow:0 1px 0 #000;
}

figcaption a {
  text-decoration:none;
  color:#0cf;
}

figcaption a:hover {
  text-decoration:underline;
  color:#09f;
}

figcaption a:active {
  text-decoration:none;
  color:#06f;
}

.imgbox:hover  figcaption {
  visibility:visible;
  top:100px;
}

/*
figcaption{
	position: absolute;
	width: auto;
	height: 75px;
  background: rgba(89,223,180,.8);
  margin: 10px;

  opacity: 0;
  bottom: 0;
  left: 3px;
}

figure:hover figcaption{
	opacity: 1;
}

h2{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #272727;
}

h3 {
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0;
	color: #e7e7e7;
	font-weight: 300;
}

*/

